extends _layout

block vars
  include ../config
  - var key = "password_reset_new"
  - var page = pages[key]

block content
  main
    .wrapper
      .auth-section(class="uk-width-3-5@s uk-width-2-5@m uk-width-1-3@l uk-width-1-4@xl uk-padding")
        .auth-header
          h1.site-logo(class="uk-text-center") #{site_title}
          p.page-title(class="uk-text-center") #{page.title}
          p.auth-text-light-grey
            | 新しくパスワードを設定してください。
        .auth-body
          form(action=`/auth/password_reset/${username}/${token}` method="post")
            .uk-margin-medium
              label.form-label(for="password" class="uk-form-label") パスワード
                .uk-form-controls
                  input(type="password" name="password" class="uk-input" value="")
                  - if (errorObject)
                    span.error-text.uk-text-danger
                      span= errorObject.errorMessage.passwordInvalid
            .uk-margin-medium.submit.uk-text-center
              button(type="submit" class="uk-button uk-width-2-3") Submit
