extends _layout

block vars
  include ../config
  - var key = "signup"
  - var page = pages[key]

block content
  main
    .wrapper
      .auth-section(class="uk-width-3-5@s uk-width-2-5@m uk-width-1-3@l uk-width-1-4@xl uk-padding")
        .auth-header
          h1.site-logo(class="uk-text-center") #{site_title}
          p.page-title(class="uk-text-center") #{page.title}
        .auth-body
          - if (flash != "" && typeof flash != 'undefined')
            .flash-section
              - if (flash.success != "" && typeof flash.success != 'undefined')
                .flash-alert(class="uk-alert-success uk-alert" uk-alert)
                  p= flash.success
              - if (flash.fail != "" && typeof flash.fail != 'undefined')
                .flash-alert(class="uk-alert-danger uk-alert" uk-alert)
                  p= flash.fail
          form(action="/auth/signup" method="post")
            .uk-margin-medium
              label.form-label(for="username" class="uk-form-label") ユーザー名
                .uk-form-controls
                  input(type="text" name="username" class="uk-input" value=inputObject ? inputObject.username : "")
                  - if (errorObject)
                    span.error-text.uk-text-danger
                      span= errorObject.errorMessage.usernameInvalid
            .uk-margin-medium
              label.form-label(for="email" class="uk-form-label") メールアドレス
                .uk-form-controls
                  input(type="text" name="email" class="uk-input" value=inputObject ? inputObject.email : "")
                  - if (errorObject)
                    span.error-text.uk-text-danger
                      span= errorObject.errorMessage.emailInvalid
            .uk-margin-medium
              label.form-label(for="password" class="uk-form-label") パスワード（大文字小文字英数字組み合わせ）
                .uk-form-controls
                  input(type="password" name="password" class="uk-input")
                  - if (errorObject)
                    span.error-text.uk-text-danger
                      span= errorObject.errorMessage.passwordInvalid
            .uk-margin-medium.submit.uk-text-center
              button(type="submit" class="uk-button uk-width-2-3") Sign up
        .auth-footer
          hr
          p(class="uk-text-small uk-text-center")
            span(class="uk-text-muted")
              | アカウントをお持ちの方 
            span
              a(href="/auth/signin") ログイン
